@{
    Layout = null;
}

@model ProjeDetailViewModel


<head>
	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Additional CSS Files -->
	<link rel="stylesheet" href="/assets/css/fontawesome.css" />
	<link rel="stylesheet" href="/assets/css/templatemo-style.css" />
	<link rel="stylesheet" href="/assets/css/owl.css" />
	<link rel="stylesheet" href="/assets/css/lightbox.css" />
    <!-- Lightbox Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

</head>

<body>

   <div class="isotope-item" data-type="nature">
    @if (Model.ProjePictures != null)
    {
        foreach (var subPicture in Model.ProjePictures)
        {
            <figure class="snip1321">
                <img src="@subPicture.SubPicture" alt="@subPicture.Name" />
                <figcaption>
                    <a href="@subPicture.SubPicture" data-lightbox="@subPicture.SubPicture" data-title="@subPicture.Name">
                        <i class="fa fa-search"></i>
                    </a>
                    <h4>@subPicture.Name</h4>
                    <span>Your additional information here</span>
                </figcaption>
            </figure>
        }
    }
</div>




    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/isotope.min.js"></script>
    <script src="/assets/js/owl-carousel.js"></script>
    <script src="/assets/js/lightbox.js"></script>
    <script src="/assets/js/custom.js"></script>

    
</body>






@*<div class="isotope-item" data-type="nature">
    <figure class="snip1321">
        <img src="/assets/images/portfolio-01.jpg"
             alt="sq-sample26" />
        <figcaption>
            <a href="/assets/images/portfolio-01.jpg"
               data-lightbox="image-1"
               data-title="Caption">
                <i class="fa fa-search"></i>
            </a>
            <h4>First Title</h4>
            <span>free to use our template</span>
        </figcaption>
    </figure>
</div>*@