@model IndexVM
<html lang="tr">

<head>


	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />


	<title>Kaan Sar</title>
	<!--
	Reflux Template
	https://templatemo.com/tm-531-reflux
	-->
	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Additional CSS Files -->
	<link rel="stylesheet" href="/assets/css/fontawesome.css" />
	<link rel="stylesheet" href="/assets/css/templatemo-style.css" />
	<link rel="stylesheet" href="/assets/css/owl.css" />
	<link rel="stylesheet" href="/assets/css/lightbox.css" />





</head>




<section class="section about-me" data-section="section1">
	<div class="container">
		<div class="section-heading">
			<h2>Hakkımda</h2>
			<div class="line-dec"></div>
			<span>

			</span>
		</div>
		@foreach (Hakkimda h in Model.Hakkimda)
		{
			<div class="left-image-post">
				<div class="row">
					<div class="col-md-6">
						<div class="left-image">
						</div>
					</div>
					<div class="col-md-12">
						<div class="right-text text-center">


							<br />
							<br />

							<h4 style="font-size: 30px;">@h.Aciklama</h4>
							<hr/>
							<hr/>

							<br />

							<h4>Şişli/İstanbul-(554) (442 7898)-kaansar33@gmail.com</h4>
							<div class="white-button">
							</div>
						</div>
					</div>
				</div>
			</div>
		}


	</div>
</section>




<section class="section my-services" data-section="section2">
	<div class="container">
		<div class="section-heading">
			<h2>Yeteneklerim</h2>
			<div class="line-dec"></div>

		</div>
		<div class="row">
			@foreach (Yeteneklerim y in Model.Yeteneklerim)
			{
				<div class="col-md-6">
					<div class="service-item">

						<span class="material-symbols-outlined" style="font-size:50px">
							keyboard
						</span>

						<h4>@y.Baslik</h4>

					</div>
				</div>
			}

		</div>
	</div>
</section>


<style>
	.isotope-box {
		float: left;
		width: 75%; 
		box-sizing: border-box;
		padding: 40px; 
	}

	.isotope-item {
		width: 100%;
	}
</style>




<section class="section my-work" data-section="section3">
	<div class="container">
		<div class="section-heading">
			<h2>Projelerim</h2>
			<div class="line-dec"></div>
			<span style="font-size:20px">
				Bu alanda projelerimin fotoğraflarına, videolarına ve detaylarına üzerindeki iconlarından ulaşabilirsiniz.
			</span>
		</div>
		<div class="row">
			<div class="isotope-wrapper">
				<div class="isotope-box">
					@{
						int count = 1;
					}
					@foreach (Proje p in Model.Projelerim)
					{
						<div class="isotope-item" data-type="nature">
							<figure class="snip1321">
								<img src="@p.Picture" />

								@{
									bool iconShowed = false;
								}
								<figcaption>
									@foreach (var item in p.ProjePictures)
									{
										<a href="@item.SubPicture" data-lightbox="image-@count" data-title="Caption">
											@if (!iconShowed)
											{
												<p>
													<i class="fa fa-search" title="Proje Fotoğraflarına Git"></i>

													<a href="@p.Link" target="_blank">
														<i class="fa fa-github"></i> 
													</a>
													@if (!string.IsNullOrEmpty(p.Link2))
													{
														<a href="@p.Link2" target="_blank">
															<i class="fa fa-youtube"></i>
														</a>
													}
												</p>
												iconShowed = true;
											}
										</a>
									}
								</figcaption>

							</figure>
						</div>
						count++;
					}
				</div>
			</div>
		</div>
	</div>
</section>





<section class="section my-work" data-section="section5">
	<div class="resume-section-content">
		<div class="section-heading">
			<h2>Eğitim</h2>
			<div class="line-dec"></div>
			<span>

			</span>
		</div>


		@foreach (Egitim e in Model.Egitimlerim)
		{
			<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
				<div class="flex-grow-1">
					<h3 class="mb-0">@e.Okul</h3>
					<div class="subheading mb-3">@e.Fakulte</div>
					<div>@e.Bolum</div>

				</div>
				<div class="flex-shrink-0">
					<span style="color:darkgray;">@e.Tarih</span>
				</div>


			</div>
		}




	</div>
</section>

@await Html.PartialAsync("/Views/Home/Iletisim.cshtml");






</html>
