@model IndexVM
<html lang="tr">

<head>


	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />





</head>




<section class="section about-me" data-section="section1">
	<div class="container">
		<div class="section-heading">
			<h2>Hakkımda</h2>
			<div class="line-dec"></div>
			<span>

			</span>
		</div>
		@foreach (Hakkimda h in Model.Hakkimda)
		{
			<div class="left-image-post">
				<div class="row">
					<div class="col-md-6">
						<div class="left-image">
						</div>
					</div>
					<div class="col-md-12">
						<div class="right-text text-center">


							<br />
							<br />

							<h4 style="font-size: 30px;">@h.Aciklama</h4>

							<br />

							<h4>Şişli/İstanbul-(554) (442 7898)-kaansar33@gmail.com</h4>
							<div class="white-button">
							</div>
						</div>
					</div>
				</div>
			</div>
		}


	</div>
</section>




<section class="section my-services" data-section="section2">
	<div class="container">
		<div class="section-heading">
			<h2>Yeteneklerim</h2>
			<div class="line-dec"></div>

		</div>
		<div class="row">
			@foreach (Yeteneklerim y in Model.Yeteneklerim)
			{
				<div class="col-md-6">
					<div class="service-item">

						<span class="material-symbols-outlined" style="font-size:50px">
							keyboard
						</span>

						<h4>@y.Baslik</h4>

					</div>
				</div>
			}

		</div>
	</div>
</section>





<section class="section my-work" data-section="section3">
	<div class="container">
		<div class="section-heading">
			<h2>Projelerim</h2>
			<div class="line-dec"></div>
			<span style="font-size:20px">
				Bu alanda projelerimin detaylarına ve videolarına ulaşabilirsiniz..
			</span>
		</div>
		<div class="row">
			<div class="isotope-wrapper">
				
				<div class="isotope-box">
					<div class="isotope-item" data-type="nature">
						<figure class="snip1321">
							<img src="/assets/images/portfolio-01.jpg"
								 alt="sq-sample26" />
							<figcaption>
								<a href="link-for-github" target="_blank">
									<i class="fa fa-github"></i>
								</a>
								<a href="https://www.youtube.com/watch?v=oDQ5tEkOicg" target="_blank">
									<i class="fa fa-youtube"></i>
								</a>
							</figcaption>

						</figure>
					</div>

					
				</div>
			</div>
		</div>
	</div>
</section>




<section class="section my-work" data-section="section5">
	<div class="resume-section-content">
		<div class="section-heading">
			<h2>Eğitim</h2>
			<div class="line-dec"></div>
			<span>

			</span>
		</div>


		@foreach (Egitim e in Model.Egitimlerim)
		{
			<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
				<div class="flex-grow-1">
					<h3 class="mb-0">@e.Okul</h3>
					<div class="subheading mb-3">@e.Fakulte</div>
					<div>@e.Bolum</div>

				</div>
				<div class="flex-shrink-0"><span class="text-primary">@e.Tarih</span></div>


			</div>
		}




	</div>
</section>

@await Html.PartialAsync("/Views/Home/Iletisim.cshtml");






</html>
