@model IEnumerable<Egitim>
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Hakkımda </h3>
			</div>


		</div>

		<div class="clearfix"></div>

		<div class="row" style="display: block;">






			<div class="col-md-12 col-sm-12  ">
				<div class="x_panel">
					<div class="x_title">


						<div class="clearfix"></div>
					</div>

					<div class="x_content">
						<a asp-area="admin" asp-controller="Egitim" asp-action="New" class="btn btn-success" style="float:right;color:#fff">Yeni Bilgi Ekle</a>


						<div class="table-responsive">
							<table class="table table-striped jambo_table bulk_action">
								<thead>
									<tr class="headings">

										<th class="column-title">Okul </th>
										<th class="column-title">Fakülte </th>
										<th class="column-title">Bölüm </th>
										<th class="column-title">Tarih </th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>


								</thead>

								<tbody>
									@foreach (Egitim s in Model)
									{
										<tr class="even pointer">
											<td class="a-right a-right ">@s.Okul</td>
											<td class="a-right a-right ">@s.Fakulte</td>
											<td class="a-right a-right ">@s.Bolum</td>
											<td class="a-right a-right ">@s.Tarih</td>



											<td>
												

												<a class="btn btn-danger educationDelete" style="float:right;color:#fff; margin-left: 5px;" rowID="@s.ID">Sil</a>


												<a asp-controller="Egitim" asp-action="Edit" asp-route-id="@s.ID" class="btn btn-success" style="float:right;color:#fff">Düzenle</a>
											</td>
											<td></td>
											<td></td>
											<td></td>



										</tr>
									}




								</tbody>
							</table>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal" id="modelDelete" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">DİKKAT!...</h5>
			</div>
			<div class="modal-body">
				<p>Silmek İstediğinizden Emin Misiniz ?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="$(this).closest('.modal').modal('hide')">Hayır</button>
				<button type="button" class="btn btn-primary" onclick="deleteAbout(silinecekID)">Evet</button>


			</div>
		</div>
	</div>
</div>
